<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Records</title>
     {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Product QTY</th>
        <th>Product Price</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
{% for product in products %}
    <tr>
        <td>{{ product.p_id }}</td>
        <td>{{ product.p_name }}</td>
        <td>{{ product.p_qty }}</td>
        <td>{{ product.p_price }}</td>
        <td>
		<!-- we not yet create edit and delete
            <a href="/edit/{{ product.id}}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>
            <a href="/delete/{{ product.id }}">Delete</a>
        -->
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
<br>
<br>
<center><a href="/emp" class="btn btn-primary">Add New Record</a></center>
</body>
</html>
